* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 77px;
    background-color: white;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container {
    width: 1334px;
    margin: 0 auto;
    padding: 0 20px;
}

.cont__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__ul,
ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #15295f;
    font-size: 18px;
}

#btn {
    background-color: #fd6e0a;
    border: 2px solid transparent;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 20px;
}

.mainSec {
    padding-top: 50px;
    background-color: #fdf8f7;
}

.main__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainSpan {
    color: #fd6e0a;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    color: #15295f;
    font-size: 75px;
    font-weight: 700;
    line-height: 1.5;
}

h2 {
    color: #15295f;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
}

p {
    color: #6f6b80;
    font-size: 16px;
}

.btnS {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

.modal {
    width: 80%;
    height: 140px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 0 auto;
    transform: translate(0, -50%);
    border-radius: 80px;
    display: flex;
    align-items: center;
}

.items {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item__logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fd6e0a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #15295f;
    margin-bottom: 8px;
}

.text {
    font-size: 18px;
    line-height: 1.2;
    color: #fd6e0a;
}

.item__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

hr {
    transform: rotate(90deg);
    width: 115px;
}

.servis {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: #fd6e0a;
}

.wide {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #15295f;
}

#arrows {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fd6e0a;
    color: white;
    border: none;
    font-size: 20px;
}

.btn__arrows {
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

.itemss {
    width: 301px;
    height: 288px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.04)
}

.itemss__info {
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.itemss__info__logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemss__info__logo img {
    width: 40px;
    height: 41px;
}


.slider {
    padding-bottom: 50px;
}


.slider__info {
    display: flex;
    align-items: center;
}

.slider__section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.textt {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #15295f;
    margin: 20px 0 15px;
}

.title {
    color: #6f6b80;
    font-size: 16px;
}

.static {
    /* height: 490px; */
    background-color: #fdf8f7;
}

.choose {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: #fd6e0a;
    padding-top: 65px;
}

.area {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #15295f;
}

.static__section {
    text-align: center;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-top: 30px;
}

.statistic__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.static__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.static__line {
    width: 100%;
    height: 10px;
    background-color: #cdcdcd;
    border-radius: 50px;
}

.textStat,
.proc {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #15295f;
}

.static__div {
    height: 100%;
    background-color: #fd6e0a;
    border-radius: 50px;
}

.statistics__el {
    width: 628px;
}


.static__section {
    padding-bottom: 50px;
}

.grid__images__section {
    text-align: center;
}

.grid__images__section ul {
    justify-content: center;
}

.portfolio {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: #fd6e0a;
    margin-top: 80px;
}

.works {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #15295f;
}

.images {
    padding-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section,
.section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section1 {
    display: flex;
    gap: 20px;
}

.client {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #15295f;
}


.pro {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}


.frontend {
    width: 49%;
    height: 345px;
    display: flex;
}

.ava {
    width: 256px;
    height: 345px;
    overflow: hidden;
}

.descr {
    width: calc(640px - 256px);
    background-color: #FAFBFD;
    padding: 20px;
}

.programmers {
    padding-top: 50px;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide__btn {
    display: flex;
    gap: 20px;
}

.joska {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.awesome,
.all {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #15295f;
}

.mnogo,
.name {
    color: #6f6b80;
    font-size: 16px;
}

.stars {
    display: flex;
    gap: 10px;
    padding-top: 30px;
}

.works1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #fff;
}

.po {
    padding-top: 40px;
}

.black__section {
    text-align: center;
    padding-bottom: 50px;
}

.black {
    background-color: #1f1d2b;
    
}

.style {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.style__item {
    width: 32%;
    height: 379px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.mainn {
    padding: 10px 0 5px;
    font-size: 18px;
    display: inline-block;
    color: #fd6e0a;
}

.nomain{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    width: 333px;
}

.img {
    position: relative;
    overflow: hidden;
}

.img img {
    width: 100%;
    object-fit: cover;
}
.mod {
    position: absolute;
    background-color: #1f1d2b;
    padding: 10px;
    right: 0;
    top: 0;
    font-size: 18px;
    line-height: 1.3;
    color: #ffffff;
}

.cets {
    display: flex;
    gap: 20px;
}

.cets img {
    width: 25px;
}

.slava__bogu__section {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.con {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: capitalize;
    color: #15295f;
}

.monday {
    color: #6f6b80;
    font-size: 16px;
    width: 500px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input {
    padding: 15px 30px;
}

#btnjoska {
    width: 200px;
}

.love {
    font-size: 16px;
    color: #15295f;
    padding: 40px 0;
}

b {
    font-size: 16px;
    color: #fd6e0a;
}

.lastDiv{
    text-align: center;
    background-color: #fdf8f7;
}